body{
    color: white;
    overflow-x: hidden;
}
.backgound-img{
    position: absolute;
}
.clouds, .mountains, .hill{
    width: 98.9vw;
    height: 78vw;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;

}
.clouds, .mountains{
    opacity: 0;

    animation-name: background-appear;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
.clouds{
    background-image: url("../Img/HG.png");
}
.mountains{
    background-image: url("../Img/MG.png");
    top: 10vw;
}
.hill{
    background-image: url("../Img/VG.png");
    top: 20vw;
}
.filter{
    width: 98.9vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    background: rgb(0,0,0);
    background: linear-gradient(170deg, rgba(0,0,0,0.7232142857142857) 0%, rgba(255,255,255,0) 61%);
}
header{
    height: 150px;
    width: 98.9vw;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 2;
}
.logo{
    text-align: center;
    font-size: 23px;
}
.links{
    width: 18%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14;
    font-family: 'Gilroy';
    font-weight: 700;
}
.Account img{
    height: 24px;
    margin-right: 10px;
}
.Account{
    width: 9%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 14;
    font-family: 'Gilroy';
    font-weight: 700;
}
.cover-page{
    width: 98.9vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}
.title{
    width: 45%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.line{
    height: 2px;
    width: 60px;
    background-color: rgb(239, 187, 0);
    margin-right: 30px;
}
.main-title{
    font-size: 70px;
}
.subtitle{
    width: 400px;
    display: flex;
    color: rgb(239, 187, 0);
    font-size: 20px;
    text-align: center;
    align-items: center;
    text-shadow: 2px 2px 7px black ;
}
.Down-scroll img{
    height: 17px;
}
.Down-scroll{
    width: 130px;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 16px;
    text-shadow: 2px 2px 5px black ;
    display: flex;
    justify-content: space-around;
}
.Media-info img{
    height: 18px;
}
.Media-info{
    height: 140px;
    position: relative;
    left: -5vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 11;
    padding-left: 25px;

    animation-name: follow-appear;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease ;
    animation-fill-mode: forwards;
}
.Media-info p{
    writing-mode: vertical-lr;
}
.content{
    width: 100vw;
    height: 300vh;
    background-color: #0B1D26;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 400px;
    position: relative;
}
.block{
    width: 75vw;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    margin-bottom: 200px;
    position: relative;
    left: -100px;
    opacity: 0;
    transition-duration: 1s;
}
.content .block:nth-child(3){
    left: 100px;
}
.text{
    width: 45%;
    height: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.block-img img{
    width: 30vw;
}
.block-title{
    font-size: 60px;
}
.text .subtitle{
    text-shadow: none;
}
.block-discription{
    font-family: 'Gilroy';
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    margin-top: 20px;
}
.block-more{
    width: 110px;
    font-family: 'Gilroy';
    font-size: 15px;
    font-weight: 700;
    color: rgb(239, 187, 0);
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.text::before{
    content: "01";
    position: absolute;
    top: -60px;
    left: -50px;
    font-size: 165px;
    font-family: 'Gilroy';
    font-weight: 700;
    color: rgba(100, 115, 129, 0.338);
    opacity: 0.6;
}
.content .block:nth-child(3) .text::before{
    content: "02";
}
.content .block:nth-child(4) .text::before{
    content: "03" !important;
}
.backgound-gradient{
    width: 100vw;
    height: 150px;
    position: absolute;
    top: -140px;
    left: 0;
    background: rgb(11,29,38);
    background: linear-gradient(360deg, rgba(11,29,38,1) 35%, rgba(255,255,255,0) 100%);
    
}
.block-active{
    left: 0 !important; 
    opacity: 1;
    transition-duration: 1s;
}